* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  border-radius: 0.6rem;
  overflow: hidden;
  width: 75%;
  display: flex;
  background-color: hsl(244, 38%, 16%);
  height: 400px;
  margin-bottom: 10px;
}

.div-text {
  padding: 6% 7% 6% 6%;
  display: flex;
  flex-direction: column;
  width: 51%;
}

h1 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2rem;
  margin-bottom: 25px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

h1 span {
  color: hsl(277, 64%, 61%);
}

.subdiv-text {
  width: 85%;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5rem;
  margin-bottom: 50px;
}

.stats {
  display: flex;
  justify-content: space-between;
  color: hsla(0, 0%, 100%, 0.6);
}

.stats p {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.stats p span {
  font-size: 0.7rem;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
  letter-spacing: 0.1rem;
}

.div-image {
  width: 49%;
}

.div-image::after {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(108, 26, 160, 0.5);
  position: relative;
  top: -101%;
}

.div-image img {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}